<div class="profile-header-main">
  <div class="profile-header-left">
<!--     <img [src]="profilePictureUrl" alt="Photo de profil" class="profile-picture" /> -->
    <div class="profile-name">
      {{ user.firstName }} {{ user.lastName }}
      <mat-icon *ngIf="user.role === 'PROVIDER'" color="warn" matTooltip="Prestataire vérifié">verified</mat-icon>
    </div>
    <div class="profile-rating">
      <span class="stars">
        <ng-container *ngFor="let star of fullStars"><mat-icon>star</mat-icon></ng-container>
        <ng-container *ngIf="hasHalfStar"><mat-icon>star_half</mat-icon></ng-container>
        <ng-container *ngFor="let star of emptyStars"><mat-icon>star_border</mat-icon></ng-container>
      </span>
      <span class="rating">{{ rating | number:'1.1-1' }}</span>
    </div>
    <div class="reviews">{{ reviewsCount }} avis vérifiés</div>
  </div>

  <div class="profile-header-right">
    <div class="desc-title">Description</div>
    <div class="profile-description" *ngIf="user.description">{{ user.description }}</div>
    <div class="info-cards">
      <div class="info-card" *ngIf="isAdmin && user.phoneNumber">
        <mat-icon>call</mat-icon>
        <div>
          <div class="info-label">Téléphone</div>
          <div class="info-value">{{ user.phoneNumber }}</div>
        </div>
      </div>
      <div class="info-card" *ngIf="isAdmin && user.email">
        <mat-icon>mail</mat-icon>
        <div>
          <div class="info-label">Email</div>
          <div class="info-value email">{{ user.email }}</div>
        </div>
      </div>
      <div class="info-card" *ngIf="user.city">
        <mat-icon>location_on</mat-icon>
        <div>
          <div class="info-label">Localisation</div>
          <div class="info-value">{{ user.city }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
