<footer class="footer-mockup">
  <div class="footer-content">
    <div class="footer-col">
      <div class="footer-title">Vacances Tranquilles</div>
      <div class="footer-text">Votre partenaire de confiance<br>depuis 2020</div>
       <mat-nav-list>
        <a class="footer-link" routerLink="/assistance">Contact</a>
      </mat-nav-list>
    </div>
    <div class="footer-col">
      <div class="footer-title">Services</div>
    </div>
    <div class="footer-col">
      <div class="footer-title">À Propos</div>
    </div>
    <div class="footer-col">
      <div class="footer-title">Légal</div>
      <mat-nav-list>
        <a mat-list-item class="footer-link" routerLink="/terms-and-conditions/cgu" [disableRipple]="true">Conditions générales d'utilisation</a>
        <a mat-list-item class="footer-link" routerLink="/terms-and-conditions/cgv" [disableRipple]="true">Conditions générales de vente</a>
      </mat-nav-list>
    </div>
  </div>
  <div class="footer-copyright">
    © 2025 Tous droits réservés
  </div>
</footer>