<ng-container *ngIf="!isEditMode; else editMode">
  <app-display-profile [user]="user" [services]="services" [userRole]="loggedUser.role" />
</ng-container>
<ng-template #editMode>
  <app-update-profile [user]="user" [services]="services" [userRole]="loggedUser.role" (profileDataChange)="onProfileDataChange($event)" />
</ng-template>

<div class="profile-action-btn-container">
  <button mat-raised-button class="profile-action-btn" (click)="toggleEditMode()">
    <mat-icon class="icon-left">{{ isEditMode ? 'done' : 'edit' }}</mat-icon>
    {{ getButtonText() }}
  </button>
</div>