.terms-and-conditions-container {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--primary-color);
  height: inherit;

  padding: 2rem;
  color: var(--text-color, --text-color);
  line-height: 1.6;
  font-size: 1rem;
}

h2, h3 {
  color: var(--quaternary-color);
}
