<div class="services-container">
  <h3 class="services-title">Services Proposés</h3>
  <div class="services-list">
    <mat-card *ngFor="let service of services" class="service-card" appearance="outlined">
      <div class="service-header">
<!--         <img [src]="service.imageUrl" alt="Icône du service" class="service-icon" width="40" height="40" /> -->
      </div>
      <div class="service-content">
        <h4 class="service-title">{{ service.title }}</h4>
        <p class="service-description">{{ service.description }}</p>
        <p class="service-price">{{ service.price }} €</p>
      </div>
    </mat-card>
  </div>
</div>