.stars {
  display: flex;
  align-items: center;
  gap: 2px;

  .star {
    color: var(--tertiary-color);
    font-size: 1.2rem;
  }

  .rating {
    margin-left: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--primary-text-color);
  }

  .reviews {
    margin-left: 8px;
    font-size: 0.9rem;
    color: var(--discret-text-color);
  }
}
