<div class="register-provider-container">
  <div class="register-provider-header">
    <div class="logo">
        <img [src]="beach_access" height="40px" class="feature-icon" alt="icon_beach_access" />
    </div>
    <h2>Bienvenue sur Vacances Tranquilles</h2>
    <div class="register-provider-subtitle">
      <p *ngIf="isPrestataire">Créez votre compte prestataire pour proposer vos services aux vacanciers</p>
      <p *ngIf="!isPrestataire">Rejoignez Vacances Tranquilles<br>pour confier votre logement à des professionnels</p>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-provider-form">
    <div class="form-row">
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <mat-form-field appearance="outline" class="custom-form-field form-field">
          <input matInput id="firstName" class="placeholder-center" formControlName="firstName" placeholder="Votre prénom">
        </mat-form-field>
        <div class="error-message" *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">
          <span *ngIf="form.get('firstName')?.errors?.['required']">Le prénom est requis</span>
          <span *ngIf="form.get('firstName')?.errors?.['lettersOnly']">Le prénom ne doit contenir que des lettres</span>
          <span *ngIf="form.get('firstName')?.errors?.['injectionPrevention']">Le prénom ne doit pas contenir de caractères spéciaux dangereux</span>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Nom</label>
        <mat-form-field appearance="outline" class="custom-form-field form-field">
          <input matInput id="lastName" class="placeholder-center" formControlName="lastName" placeholder="Votre nom">
        </mat-form-field>
        <div class="error-message" *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
          <span *ngIf="form.get('lastName')?.errors?.['required']">Le nom est requis</span>
          <span *ngIf="form.get('lastName')?.errors?.['lettersOnly']">Le nom ne doit contenir que des lettres</span>
          <span *ngIf="form.get('lastName')?.errors?.['injectionPrevention']">Le nom ne doit pas contenir de caractères spéciaux dangereux</span>
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="isPrestataire">
      <div class="form-group">
        <label for="companyName">Nom de l'entreprise</label>
        <mat-form-field appearance="outline" class="custom-form-field form-field">
          <input matInput id="companyName" class="placeholder-center" formControlName="companyName" placeholder="Votre entreprise">
        </mat-form-field>
        <div class="error-message" *ngIf="form.get('companyName')?.invalid && form.get('companyName')?.touched">
          <span *ngIf="form.get('companyName')?.errors?.['required']">Le nom de l'entreprise est requis</span>
          <span *ngIf="form.get('companyName')?.errors?.['injectionPrevention']">Le nom de l'entreprise ne doit pas contenir de caractères spéciaux dangereux</span>
        </div>
      </div>
      <div class="form-group">
        <label for="siretSiren">SIRET</label>
        <mat-form-field appearance="outline" class="custom-form-field form-field">
          <input matInput id="siretSiren" class="placeholder-center" formControlName="siretSiren" placeholder="12345678901234">
        </mat-form-field>
        <div class="error-message" *ngIf="form.get('siretSiren')?.invalid && form.get('siretSiren')?.touched">
          <span *ngIf="form.get('siretSiren')?.errors?.['required']">Le numéro SIRET est requis</span>
          <span *ngIf="form.get('siretSiren')?.errors?.['pattern']">Le SIRET doit contenir 14 chiffres</span>
          <span *ngIf="form.get('siretSiren')?.errors?.['injectionPrevention']">Le SIRET ne doit pas contenir de caractères spéciaux dangereux</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email professionnel</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="email" formControlName="email" placeholder="entreprise@email.com">
      </mat-form-field>
      <div class="error-message" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <span *ngIf="form.get('email')?.errors?.['required']">L'email est requis</span>
        <span *ngIf="form.get('email')?.errors?.['emailFormat']">Format d'email invalide</span>
        <span *ngIf="form.get('email')?.errors?.['injectionPrevention']">L'email ne doit pas contenir de caractères spéciaux dangereux</span>
        <span *ngIf="form.get('email')?.errors?.['emailTaken']">Cet email est déjà utilisé</span>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Téléphone</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="phoneNumber" formControlName="phoneNumber" placeholder="06 12 34 56 78">
      </mat-form-field>
              <div class="error-message" *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
          <span *ngIf="form.get('phoneNumber')?.errors?.['required']">Le numéro de téléphone est requis</span>
          <span *ngIf="form.get('phoneNumber')?.errors?.['phoneNumberLength']">Le numéro de téléphone doit contenir exactement 10 chiffres</span>
          <span *ngIf="form.get('phoneNumber')?.errors?.['numbersOnly']">Le numéro de téléphone ne doit contenir que des chiffres</span>
          <span *ngIf="form.get('phoneNumber')?.errors?.['injectionPrevention']">Le numéro de téléphone ne doit pas contenir de caractères spéciaux dangereux</span>
        </div>
    </div>
    <div class="form-group">
      <label for="address">Adresse du siège</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="address" formControlName="address" placeholder="123 rue de la Paix">
      </mat-form-field>
      <div class="error-message" *ngIf="form.get('address')?.invalid && form.get('address')?.touched">
        <span *ngIf="form.get('address')?.errors?.['required']">L'adresse est requise</span>
        <span *ngIf="form.get('address')?.errors?.['injectionPrevention']">L'adresse ne doit pas contenir de caractères spéciaux dangereux</span>
      </div>
    </div>
    <div class="form-group">
      <label for="postalCode">Code postal</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="postalCode" formControlName="postalCode" placeholder="75000">
      </mat-form-field>
      <div class="error-message" *ngIf="form.get('postalCode')?.invalid && form.get('postalCode')?.touched">
        <span *ngIf="form.get('postalCode')?.errors?.['required']">Le code postal est requis</span>
        <span *ngIf="form.get('postalCode')?.errors?.['pattern']">Le code postal doit contenir 5 chiffres</span>
        <span *ngIf="form.get('postalCode')?.errors?.['injectionPrevention']">Le code postal ne doit pas contenir de caractères spéciaux dangereux</span>
      </div>
    </div>
    <div class="form-group">
      <label for="city">Ville</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="city" formControlName="city" placeholder="Paris">
      </mat-form-field>
      <div class="error-message" *ngIf="form.get('city')?.invalid && form.get('city')?.touched">
        <span *ngIf="form.get('city')?.errors?.['required']">La ville est requise</span>
        <span *ngIf="form.get('city')?.errors?.['lettersOnly']">La ville ne doit contenir que des lettres</span>
        <span *ngIf="form.get('city')?.errors?.['injectionPrevention']">La ville ne doit pas contenir de caractères spéciaux dangereux</span>
      </div>
    </div>
    <div class="form-group">
      <label for="userSecret">Mot de passe</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="userSecret" formControlName="userSecret" type="password" placeholder="********">
      </mat-form-field>
      <div class="error-message" *ngIf="form.get('userSecret')?.invalid && form.get('userSecret')?.touched">
        <span *ngIf="form.get('userSecret')?.errors?.['required']">Le mot de passe est requis</span>
        <span *ngIf="form.get('userSecret')?.errors?.['minLength']">Le mot de passe doit contenir au moins 8 caractères</span>
        <span *ngIf="form.get('userSecret')?.errors?.['lowercase']">Le mot de passe doit contenir au moins une minuscule</span>
        <span *ngIf="form.get('userSecret')?.errors?.['uppercase']">Le mot de passe doit contenir au moins une majuscule</span>
        <span *ngIf="form.get('userSecret')?.errors?.['number']">Le mot de passe doit contenir au moins un chiffre</span>
        <span *ngIf="form.get('userSecret')?.errors?.['special']">Le mot de passe doit contenir au moins un caractère spécial</span>
      </div>
    </div>
    <button mat-flat-button color="primary" class="register-btn styled-btn" type="submit">S'inscrire</button>
  </form>
  <div class="register-provider-login">
    Déjà un compte ? <a routerLink="/login">Se connecter</a>
  </div>
</div>
