<div class="register-provider-container">
  <div class="register-provider-header">
    <div class="logo">
        <img [src]="beach_access" height="40px" class="feature-icon" alt="icon_beach_access" />
    </div>
    <h2>Bienvenue sur Vacances Tranquilles</h2>
    <div class="register-provider-subtitle">
      Créez votre compte pour gérer vos réservations<br>
      Créez votre compte prestataire pour proposer vos services
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-provider-form">
    <div class="form-row" *ngIf="isPrestataire">
      <div class="form-group">
        <label for="companyName">Nom de l'entreprise</label>
        <mat-form-field appearance="outline" class="custom-form-field form-field">
          <input matInput id="companyName" class="placeholder-center" formControlName="companyName" placeholder="Votre entreprise">
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="siret">SIRET</label>
        <mat-form-field appearance="outline" class="custom-form-field form-field">
          <input matInput id="siret" class="placeholder-center" formControlName="siret" placeholder="12345678901234">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email professionnel</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="email" formControlName="email" placeholder="entreprise@email.com">
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="phone">Téléphone</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="phone" formControlName="phone" placeholder="06 12 34 56 78">
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="address">Adresse du siège</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="address" formControlName="address" placeholder="123 rue de la Paix">
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="postalCode">Code postal</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="postalCode" formControlName="postalCode" placeholder="75000">
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <mat-form-field appearance="outline" class="custom-form-field form-field full-width">
        <input matInput id="password" formControlName="password" type="password" placeholder="********">
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" class="register-btn styled-btn" type="submit">S'inscrire</button>
  </form>
  <div class="register-provider-login">
    Déjà un compte ? <a routerLink="/login">Se connecter</a>
  </div>
</div> 