<div class="profile-header-main">
  <div class="profile-header-left">
    <div class="profile-upload-container">
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
    </div>
    <img src="assets/icons/person_24dp_FFA101.svg" alt="Photo de profil de {{ user.firstName }}" class="profile-picture" />
    <div class="profile-name">
      <input [(ngModel)]="user.firstName" (ngModelChange)="onUserChange()" placeholder="Prénom" class="profile-input" />
      <input [(ngModel)]="user.lastName" (ngModelChange)="onUserChange()" placeholder="Nom" class="profile-input" />
    </div>
  </div>

  <div class="profile-header-right">
    <div class="desc-title">Description</div>
    <textarea [(ngModel)]="user.description" (ngModelChange)="onUserChange()" class="profile-description" placeholder="Description"></textarea>
    <div class="info-cards">
      <div class="info-card">
        <mat-icon>call</mat-icon>
        <div>
          <div class="info-label">Téléphone</div>
          <input [(ngModel)]="user.phoneNumber" (ngModelChange)="onUserChange()" class="info-value" placeholder="Téléphone" />
        </div>
      </div>
      <div class="info-card">
        <mat-icon>mail</mat-icon>
        <div>
          <div class="info-label">Email</div>
          <input [(ngModel)]="user.email" (ngModelChange)="onUserChange()" class="info-value email" placeholder="Email" />
        </div>
      </div>
      <div class="info-card">
        <mat-icon>location_on</mat-icon>
        <div>
          <div class="info-label">Localisation</div>
          <input [(ngModel)]="user.city" (ngModelChange)="onUserChange()" class="info-value" placeholder="Ville" />
        </div>
      </div>
    </div>
  </div>
</div>
