<div class="profile-header-main" [formGroup]="profileForm">
  <div class="profile-header-left">
    <div class="profile-upload-container">
      <span class="file-name" *ngIf="fileName">{{ fileName }}</span>
    </div>
    <img src="assets/icons/person_24dp_FFA101.svg" alt="Photo de profil de {{ user.firstName }}" class="profile-picture" />
    <div class="profile-name">
      <div class="input-container">
        <input 
          formControlName="firstName" 
          placeholder="Prénom" 
          class="profile-input" 
          [class.invalid]="isFieldInvalid('firstName')"
          [required]="true"
        />
        <div class="error-message" *ngIf="isFieldInvalid('firstName')">
          {{ getFieldErrorText('firstName') }}
        </div>
      </div>
      <div class="input-container">
        <input 
          formControlName="lastName" 
          placeholder="Nom" 
          class="profile-input" 
          [class.invalid]="isFieldInvalid('lastName')"
          [required]="true"
        />
        <div class="error-message" *ngIf="isFieldInvalid('lastName')">
          {{ getFieldErrorText('lastName') }}
        </div>
      </div>
    </div>
  </div>

  <div class="profile-header-right">
    <div class="desc-title">Description</div>
    <div class="input-container">
      <textarea 
        formControlName="description" 
        class="profile-description" 
        placeholder="Description"
        [class.invalid]="isFieldInvalid('description')"
      ></textarea>
      <div class="error-message" *ngIf="isFieldInvalid('description')">
        {{ getFieldErrorText('description') }}
      </div>
    </div>
    <div class="info-cards">
      <div class="info-card">
        <mat-icon>call</mat-icon>
        <div class="input-container">
          <div class="info-label">Téléphone <span class="required-asterisk">*</span></div>
          <input 
            formControlName="phoneNumber" 
            class="info-value" 
            placeholder="Téléphone" 
            [class.invalid]="isFieldInvalid('phoneNumber')"
            [required]="true"
          />
          <div class="error-message" *ngIf="isFieldInvalid('phoneNumber')">
            {{ getFieldErrorText('phoneNumber') }}
          </div>
        </div>
      </div>
      <div class="info-card">
        <mat-icon>mail</mat-icon>
        <div class="input-container">
          <div class="info-label">Email <span class="required-asterisk">*</span></div>
          <input 
            formControlName="email" 
            class="info-value email" 
            placeholder="Email" 
            [class.invalid]="isFieldInvalid('email')"
            [required]="true"
          />
          <div class="error-message" *ngIf="isFieldInvalid('email')">
            {{ getFieldErrorText('email') }}
          </div>
        </div>
      </div>
      <div class="info-card">
        <mat-icon>location_on</mat-icon>
        <div class="input-container">
          <div class="info-label">Localisation <span class="required-asterisk">*</span></div>
          <input 
            formControlName="city" 
            class="info-value" 
            placeholder="Ville" 
            [class.invalid]="isFieldInvalid('city')"
            [required]="true"
          />
          <div class="error-message" *ngIf="isFieldInvalid('city')">
            {{ getFieldErrorText('city') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
