.example-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  width: 70%;
  margin: 2% auto; /* Centrer le formulaire */
  padding: 24px 50px; /* Ajouter un espace interne */
  background-color: #ffffff; /* Fond blanc pour le formulaire */
  border-radius: 8px; /* Bordures arrondies */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
  overflow: hidden; /* Empêche le débordement */
  text-align: center;
}
  
.form, .title-container {
  width: 45%;
}

.mdc-text-field--filled {
  height: 36px !important; /* Réduction de la hauteur */
  font-size: 14px; /* Ajustement de la taille de la police */
  padding: 8px !important; /* Espacement interne */
  line-height: 1.5; /* Amélioration de l'espacement vertical */
}

button:hover {
  background-color: #253d45; /* Couleur au survol */
}

.form-field {
  width: 100%;
  margin-bottom: 5px; /* Espacement entre les champs */
}

.row {
  display: flex;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px; /* Espacement entre les champs */
}
  
.mat-form-field-label {
  font-size: 14px; /* Taille du label adaptée */
  transform: translateY(-20px); /* Positionnement du label pour éviter le rognage */
  color: #31525B; /* Couleur du label */
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #db9e36; /* Couleur du label lorsqu'il est sélectionné */
}

.mat-mdc-form-field .mdc-floating-label {
  font-size: 1.1em;
  font-weight: 600;
  color: #3f51b5; /* ou une couleur contrastée selon ton thème */
  transform: translateY(-1.5em) scale(1.1); /* agrandit et remonte légèrement */
}

.submit-button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  color: var(--secondary-text-color);
  background-color: var(--tertiary-color);
  cursor: pointer;
  width: 50%;
}

.logo img {
  width: 185px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {

  .example-form {
    flex-direction: column; /* Colonne pour les petits écrans */
    width: 90%; /* Largeur plus grande pour les petits écrans */
    padding: 20px; /* Réduction du padding */
  }

  .logo img {
    width: 145px;
    height: 145px;
  }

  .title {
    font-size: 1.5rem;
    margin: 0 auto 35px auto;
  }

  .form, .title-container {
      width: 100%;
  }

  .submit-button {
      width: 70%;
  }
  
  .example-form {
      width: 70%;
  }
}