<div class="homepage-container">
  <main class="content">
    <div class="logo">
      <!-- <img [src]="logoPath" alt="Vacances Tranquilles"> -->
      <img [src]="logoPath" alt="Vacances Tranquilles">
    </div>
    <h2 class="title">Vacances Tranquilles</h2>

    <section class="description">
      <h3>Description de l'application</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur risus nibh, pharetra eu bibendum eget, hendrerit id sapien. Mauris leo nunc, pulvinar bibendum pellentesque quis, lobortis eget nulla. Nunc mollis libero a urna convallis, at sagittis nisi suscipit.
      </p>
    </section>

    <div class="cta-buttons">
      <button>Je suis un prestataire</button>
      <button>Je suis un particulier</button>
    </div>
  </main>
</div>
