.homepage-container {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--primary-color);
  height: inherit;
}

h2, h3 {
    color: var(--quaternary-color);
}

h2 {
  margin-top: 0;
}

.content {
  flex: 1;
  text-align: center;
}

.logo img {
  width: 185px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 1rem;
}

.description p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  max-width: 70%;
  margin: 0 auto;
}

span.services {
  font-style: italic;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  cursor: pointer;
}

.primary {
  background-color: #2e8b57;
  color: white;
}

.secondary {
  background-color: #ffffff;
  color: #2e8b57;
  border: 1px solid #2e8b57;
}

/* Responsive layout */
@media (min-width: 768px) {
  .content {
    padding: 1rem 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .cta-buttons {
    gap: 2rem;
  }
}
