/* You can add global styles to this file, and also import other style files */
:root {
    /** Background-color */
    --primary-color: #FBF4E9;
    /** Button color */
    --secondary-color: #31525B;
    /** Button text color */
    --secondary-text-color: #FFFFFF;
    /** Button nav color */
    --tertiary-color: #db9e36;
    /** Title color */
    --quaternary-color: #db9e36;
    /** Text color */
    --text-color: #31525B;

    --header-height: 13vh;
    --main-height: 77vh;
    --footer-height: 10vh;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Conteneur principal avec bordure fine */
.custom-form-field.mat-form-field-appearance-fill {
  border: 1px solid #000; /* Bordure noire */
  border-radius: 4px;
  background-color: white;
  padding: 0 12px;
}

/* Supprime le fond gris par défaut */
.custom-form-field .mat-form-field-flex {
  background: transparent !important;
  padding: 0 !important;
}

/* Supprime la ligne underline de Material */
.custom-form-field .mat-form-field-underline {
  display: none !important;
}

/* Gère l'espacement à l'intérieur du champ */
.custom-form-field .mat-form-field-infix {
  padding: 8px 0;
}

/* Style du label */
.custom-form-field .mat-form-field-label {
  color: #000;
  font-weight: 500;
}