<div class="container">

  <!-- Carte de l'utilisateur -->
  <mat-card class="user-card container-child">
    <div class="user-info">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcazeHuAcZDzv4_61fPLT-S00XnaKXch2YWQ&s" class="user-img" alt="user photo" />
      <div>
        <div class="user-name">Ashfak Sayem</div>
      </div>
    </div>
  </mat-card>

  <!-- Section note + texte -->
  <mat-card class="feedback-card container-child">
    <div id="notation-part">
        <p class="section-title">Donner une note</p>
        <div class="stars">
        <button
            *ngFor="let star of [1,2,3,4,5]"
            mat-icon-button
            (click)="setRating(star)"
            [color]="star <= rating ? 'accent' : undefined"
        >
            <mat-icon>{{ star <= rating ? 'star' : 'star_border' }}</mat-icon>
        </button>
        </div>
    </div>

    <div id="text-part">
        <p class="section-title">Détail de l’avis</p>
        <mat-form-field appearance="outline" class="full-width">
            <textarea matInput [(ngModel)]="feedback" rows="4"></textarea>
        </mat-form-field>
    </div>
  <!-- Bouton valider -->
  <div class="button">
    <button mat-raised-button color="primary" (click)="onSubmit()">Valider</button>
  </div>

  </mat-card>
</div>